<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Sigemco</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Codesoftware1234</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="co.com.codesoftware.persistence.entites.tables.Sede"/>
        <mapping class="co.com.codesoftware.persistence.entites.tables.Cliente"/>
        <mapping class="co.com.codesoftware.persistence.entites.tables.RecetaTable"/>
        <mapping class="co.com.codesoftware.persistence.entites.tables.PrecioRecetaTable"/>
        <mapping class="co.com.codesoftware.persistence.entites.tables.ProductoTable"/>
        <mapping class="co.com.codesoftware.persistence.entites.tables.PantallaPrincipalFacTable"/>     
        <mapping class="co.com.codesoftware.persistence.entites.tables.PrecioProductoTable"/>
        <mapping class="co.com.codesoftware.persistence.entites.tables.PersonaUsuarioTable"/>
        <mapping class="co.com.codesoftware.persistence.entites.tables.UsuarioTable"/>
        <mapping class="co.com.codesoftware.persistence.entities.facturacion.tables.TemporalProdTable"/>
        <mapping class="co.com.codesoftware.persistence.entities.facturacion.tables.TemporalRecTable"/>
        <mapping class="co.com.codesoftware.persistence.entites.facturacion.FacturaTable"/>
        <mapping class="co.com.codesoftware.persistence.entites.facturacion.DetProdFacturaTable"/>
        <mapping class="co.com.codesoftware.persistence.entites.tables.ParametrosEmpresaTable"/>
        <mapping class="co.com.codesoftware.persistence.entites.facturacion.DetReceFacturacionTable" />
        <mapping class="co.com.codesoftware.persistence.entites.tables.PerfilTable" />
    </session-factory>
</hibernate-configuration>
